#welcome {
	background-color: #DDD;
	height: 600px;
	h1 {
		background-image: url('../images/headers/h1_intro.png');
	}
	h3 {
		color: $defaultTertiary;
		margin: 0px 0 15px 0;
	}
	p {
		color: $defaultText;
	}
	a {
		color: $defaultTertiary;
	}
	a:hover {
		color: $defaultSecondary;
	}
	.button {
		background-image: url('../images/buttons/button_intro_normal.png');
		margin: auto;
		.buttonIcon {
			background-image: url('../images/buttons/button_icon_scrolldown.png')
		}
	}
	.button:hover {
		background-image: url('../images/buttons/button_intro_rollover.png');
	}
	#welcomeContent {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		right: 0;
	}
	#welcomeIntroduction {
		position: absolute;
		top: 0;
		width: 50%;
		left: 50%;
		transform: translate(-50%, 0);
		@media screen and (max-width: $break-small) {
			width: 90%;
		}
		p {
			background: radial-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
		}
	}
	
	//Background Art
	#WelcomePage_flyingPteradon {
		background-image: url('../images/illustrations/welcome/bgIllustrations_welcome_flyingPteradon.png');
		height: 15%;
		left: 0;
		width: 100%;
		top: 0;
		background-position: left bottom;
		background-size: auto 100%;
		@media screen and (max-width: $break-small) {
			display: none;
		}
	}
	#WelcomePage_clouds {
		background-image: url('../images/illustrations/welcome/bgIllustrations_welcome_clouds.png');
		bottom: 0%;
		left: 0;
		width: 100%;
		top: 40%;
		background-size: auto 100%;
		background-position: bottom center;
		background-repeat: repeat-x;
		@media screen and (max-width: $break-small) {
			top: 50%;
		}
	}
	#WelcomePage_background {
		background-image: url('../images/illustrations/welcome/bgIllustrations_welcome_background.png');
		bottom: 0;
		left: 0;
		width: 100%;
		height: 30%;
		background-size: auto 100%;
		background-position: bottom center;
		background-repeat: repeat-x;
		@media screen and (max-width: $break-small) {
			height: 22%;
		}
	}
	#WelcomePage_midground {
		background-image: url('../images/illustrations/welcome/bgIllustrations_welcome_midground.png');
		height: 40%;
		bottom: 0;
		left: 0;
		width: 100%;
		background-size: auto 100%;
		background-position: bottom center;
		background-repeat: repeat-x;
		@media screen and (max-width: $break-small) {
			height: 30%;
		}
	}
	#WelcomePage_treetopPattern {
		background-image: url('../images/illustrations/welcome/bgIllustrations_welcome_treePattern.png');
		top: 92%;
		bottom: 0;
		right: 0;
		left: 0;
		background-position: bottom center;
		background-repeat: repeat-x;
		background-size: contain;
	}
	#WelcomePage_leftTreetop {
		background-image: url('../images/illustrations/welcome/bgIllustrations_welcome_leftTreetopForeground.png');
		top: 0;
		bottom: 0;
		left: 0;
		@include percentMaxSize(.49);
		bottom: 0;
		transform-origin: 100% 100%;
		background-position: bottom right;
		@media screen and (max-width: $break-small) {
			@include percentMaxSize(.40);
		}
	}
	#WelcomePage_rightTreetop {
		background-image: url('../images/illustrations/welcome/bgIllustrations_welcome_rightTreetopForeground.png');
		top: 0;
		bottom: 0;
		right: 0;
		@include percentMaxSize(.51);
		bottom: 0;
		transform-origin: 0% 100%;
		background-position: bottom left;
		@media screen and (max-width: $break-small) {
			@include percentMaxSize(.40);
		}
	}
}