#professional {
	background-color: #ccc;
	h1 {
		background-image: url('../images/headers/h1_professional.png');
	}
	h2 {
		color: $professionalTertiary;
	}
	h3 {
		color: $professionalTertiary;
		margin: 0 0 5px 0;
	}
	a {
		color: $professionalTertiary;
	}
	a:hover {
		color: $professionalSecondary;
	}
	a.button {
		background-image: url('../images/buttons/button_professional_normal.png');
	}
	a.button:hover {
		background-image: url('../images/buttons/button_professional_rollover.png');
	}
	.project {
		position: fixed;
		//display: none;
		//opacity: .1;
		top: 0;
		width: 85%;
		left: 50%;
		max-width: 1200px;
		min-height: 600px;
		@media screen and (max-width: $break-large) {
			left: 54%;
		}
		@media screen and (max-width: $break-small) {
			left: 50%;
			width: 95%;
		}
		.projectContent {
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
			overflow: hidden;
			.blockContent {
				position: absolute;
				display: block;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				//background-color: pink;
				.blockText {
					position: absolute;
					display: block;
					top: 0;
					height: 100%;
					left: 50%;
					padding: 0% 7%;
					width: 36%;
					background: linear-gradient(-45deg, $professionalSecondary, $professionalPrimary);
					transition: all 1s;
					#{headings()} {
						margin-top: 50px;
					}
					@media screen and (max-width: $break-med) {
						top: 45%;
						height: 55%;
						left: 0;
						width: 80%;
						padding: 0% 10%;
						#{headings()} {
							margin-top: 10px;
						}
					}
					@media screen and (max-width: $break-small) {
						padding: 0 4%;
						width: 92%;
						#{headings()} {
							margin-top: 10px;
						}
					}
				}
				.gallery {
					position: absolute;
					display: block;
					height: 100%;
					width: 50%;
					transition: all 1s;
					overflow: hidden;
					background-color: black;
					z-index: 100;
					@media screen and (max-width: $break-med) {
						height: 45%;
						left: 0;
						width: 100%;
					}
					.galleryImage {
						position: absolute;
						display: block;
						top: 0%;
						bottom: 0%;
						left: 0%;
						right: 0%;
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center center;
						transition: all .25s;
						opacity: 0;
					}
					.galleryImage.active {
						opacity: 1;
					}
					.galleryUI {
						position: absolute;
						display: block;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						opacity: 0;
						transition: opacity .5s .25s;
						.openNewWindowButton {
							position: absolute;
							display: block;
							top: 40%;
							left: 50%;
							width: 35%;
							padding-top: 35%;
							transform: translate(-50%, -50%);
							background-image: url('../images/buttons/button_icon_openNewWindow.png');
							background-repeat: no-repeat;
							background-position: left;
							background-size: 500% 100%;
							pointer-events: none;
							transition: width 1s .25s, padding-top 1s .25s;
							animation: windowIconCloseTransition .2s steps(4);
						}
						.openNewWindowButton:hover {
							background-position: 100% 0;
							animation: windowIconOpenTransition .2s steps(4);
						}
						.indexMenu {
							position: absolute;
							display: block;
							bottom: 10%;
							left: 0;
							right: 0;
							text-align: center;
							.indexMenuItem {
								display: inline-block;
								padding: 5px 8px;
								margin: 0 5px;
								font-size: 2em;
								color: #AAA;
							}
							.indexMenuItem:hover {
								animation: offsetBounce 1s;
								color: #FFF;
							}
							.indexMenuItem.active {
								background-color: $professionalPrimary;
								pointer-events: none;
								color: #FFF;
							}
						}
					}
				}
				.gallery.hoverState {
					.galleryImage.active {
						top: -15%;
						bottom: -15%;
						left: -15%;
						right: -15%;
						opacity: .3;
					}
					.galleryUI {
						opacity: 1;
						.openNewWindowButton {
							width: 20%;
							padding-top: 20%;
							pointer-events: all;
						}
					}
				}
				.introPicture {
					background-size: cover;
					background-position: center;
				}
			}
			.blockContent:nth-child(even) {
				.blockText {
					left: 0;
				}
				.gallery {
					left: 50%;
				}
			}
		}
	}
	.project.position1 {
		.blockContent:first-child {
			.blockText {
				top: 0;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: 0%;
				}
			}
			.gallery {
				top: 0;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: 0%;
				}
			}
		}
		.blockContent:nth-child(2) {
			.blockText {
				top: 100%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: 100%;
				}
			}
			.gallery {
				top: -100%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: -100%;
				}
			}
		}
		.blockContent:nth-child(3) {
			.blockText {
				top: -200%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: 200%;
				}
			}
			.gallery {
				top: 200%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: -200%;
				}
			}
		}
		.blockContent:nth-child(4) {
			.blockText {
				top: 300%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: 300%;
				}
			}
			.gallery {
				top: -300%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: -300%;
				}
			}
		}
		.blockContent:nth-child(5) {
			.blockText {
				top: -400%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: 400%;
				}
			}
			.gallery {
				top: 400%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: -400%;
				}
			}
		}
	}
	.project.position2 {
		.blockContent:first-child {
			.blockText {
				top: 100%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: -100%;
				}
			}
			.gallery {
				top: -100%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: 100%;
				}
			}
		}
		.blockContent:nth-child(2) {
			.blockText {
				top: 0%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: 0%;
				}
			}
			.gallery {
				top: 0%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: 0%;
				}
			}
		}
		.blockContent:nth-child(3) {
			.blockText {
				top: -100%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: 100%;
				}
			}
			.gallery {
				top: 100%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: -100%;
				}
			}
		}
		.blockContent:nth-child(4) {
			.blockText {
				top: 200%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: 200%;
				}
			}
			.gallery {
				top: -200%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: -200%;
				}
			}
		}
		.blockContent:nth-child(5) {
			.blockText {
				top: -300%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: 300%;
				}
			}
			.gallery {
				top: 300%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: -300%;
				}
			}
		}
	}
	.project.position3 {
		.blockContent:first-child {
			.blockText {
				top: 200%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: -200%;
				}
			}
			.gallery {
				top: -200%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: 200%;
				}
			}
		}
		.blockContent:nth-child(2) {
			.blockText {
				top: -100%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: -100%;
				}
			}
			.gallery {
				top: 100%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: 100%;
				}
			}
		}
		.blockContent:nth-child(3) {
			.blockText {
				top: 0%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: 0;
				}
			}
			.gallery {
				top: 0%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: 0%;
				}
			}
		}
		.blockContent:nth-child(4) {
			.blockText {
				top: 100%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: 100%;
				}
			}
			.gallery {
				top: -100%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: -100%;
				}
			}
		}
		.blockContent:nth-child(5) {
			.blockText {
				top: -200%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: 200%;
				}
			}
			.gallery {
				top: 200%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: -200%;
				}
			}
		}
	}
	.project.position4 {
		.blockContent:first-child {
			.blockText {
				top: 300%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: -300%;
				}
			}
			.gallery {
				top: -300%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: 300%;
				}
			}
		}
		.blockContent:nth-child(2) {
			.blockText {
				top: -200%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: -200%;
				}
			}
			.gallery {
				top: 200%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: 200%;
				}
			}
		}
		.blockContent:nth-child(3) {
			.blockText {
				top: 100%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: -100%;
				}
			}
			.gallery {
				top: -100%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: 100%;
				}
			}
		}
		.blockContent:nth-child(4) {
			.blockText {
				top: 0;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: 0%;
				}
			}
			.gallery {
				top: 0;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: 0%;
				}
			}
		}
		.blockContent:nth-child(5) {
			.blockText {
				top: -100%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: 100%;
				}
			}
			.gallery {
				top: 100%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: -100%;
				}
			}
		}
	}
	.project.position5 {
		.blockContent:first-child {
			.blockText {
				top: 400%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: -400%;
				}
			}
			.gallery {
				top: -400%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: 400%;
				}
			}
		}
		.blockContent:nth-child(2) {
			.blockText {
				top: -300%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: -300%;
				}
			}
			.gallery {
				top: 300%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: 300%;
				}
			}
		}
		.blockContent:nth-child(3) {
			.blockText {
				top: 200%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: -200%;
				}
			}
			.gallery {
				top: -200%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: 200%;
				}
			}
		}
		.blockContent:nth-child(4) {
			.blockText {
				top: -100%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: -100%;
				}
			}
			.gallery {
				top: 100%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: 100%;
				}
			}
		}
		.blockContent:nth-child(5) {
			.blockText {
				top: 0%;
				@media screen and (max-width: $break-med) {
					top: 45%;
					left: 0%;
				}
			}
			.gallery {
				top: 0%;
				@media screen and (max-width: $break-med) {
					top: 0%;
					left: -0%;
				}
			}
		}
	}
	#gotProject {
		.introPicture {
			background-image: url('../images/introImages/introImage_gotConquest.jpg');
		}
	}
	#lotroProject {
		.introPicture {
			background-image: url('../images/introImages/introImage_lotro.jpg');
		}
	}
	#ddoProject {
		z-index: 20;
		.introPicture {
			background-image: url('../images/introImages/introImage_ddo.jpg');
		}
	}
	#icProject {
		z-index: 50;
		.introPicture {
			background-image: url('../images/introImages/introImage_ic.jpg');
		}
	}
	#professionalIntrospace {
		background: linear-gradient(-45deg, $professionalSecondary, $professionalPrimary);
	}
	.projectNav {
		position: absolute;
		width: 70px;
		height: 35%;
		max-height: 300px;
		top: 50%;
		transform: translate(0, -50%);
		background-repeat: no-repeat;
		background-size: contain;
		transition: all .35s;
		z-index: 110;
		@media screen and (max-width: $break-small) {
			top: auto;
			bottom: 5px;
			height: 75px;
			width: 40px;
			transform: translate(0, 0);
		}
		.arrow {
			position: absolute;
			width: 10px;
			height: 20px;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
	.leftNav {
		background-image: url('../images/buttons/button_leftsideButton_professional_normal.png');
		left: -20px;
		background-position: left center;
		@media screen and (max-width: $break-small) {
			left: -5px;
		}
		.arrow {
			left: 20px;
			background-image: url('../images/buttons/button_icon_arrow_left.png');
			@media screen and (max-width: $break-small) {
				left: 8px;
			}
		}
	}
	.leftNav:hover {
		left: -30px;
		@media screen and (max-width: $break-small) {
			left: -10px;
		}
		.arrow {
			animation: leftArrowBounce 1.5s;
		}
	}
	.rightNav {
		background-image: url('../images/buttons/button_rightsideButton_professional_normal.png');
		right: -20px;
		background-position: right center;
		@media screen and (max-width: $break-small) {
			right: -5px;
		}
		.arrow {
			right: 20px;
			background-image: url('../images/buttons/button_icon_arrow_right.png');
			@media screen and (max-width: $break-small) {
				right: 8px;
			}
		}
	}
	.rightNav:hover {
		right: -30px;
		@media screen and (max-width: $break-small) {
			right: -10px;
		}
		.arrow {
			animation: rightArrowBounce 1.5s;
		}
	}
	.projectMenu {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		bottom: 10px;
		text-align: center;
		z-index: 110;
		@media screen and (max-width: $break-small) {
			bottom: 25px;
		}
		a {
			display: inline-block;
			font-family: $headFont;
			font-weight: 700;
			font-size: 18pt;
			background-image: url('../images/buttons/button_square_professional_normal.png');
			background-size: 100% 100%;
			width: 50px;
			height: 50px;
			line-height: 2;
			color: desaturate($professionalTertiary, 20%);
			text-shadow: 1px 1px 3px darken($professionalTertiary, 30%);
			@media screen and (max-width: $break-small) {
				font-size: 12pt;
				width: 35px;
				height: 35px;
			}
		}
		a.active, a:hover {
			color: white;
			text-shadow: 2px 2px 5px darken($professionalTertiary, 60%);
			background-image: url('../images/buttons/button_square_professional_rollover.png');
			
		}
		a:hover {
			animation: offsetBounce 1s;
		}
	}
	#gotPlaceholder {
		top: 12.5%;
	}
	#lotroPlaceholder {
		top: 37.5%;
	}
	#ddoPlaceholder {
		top: 62.5%;
	}
	#icPlaceholder {
		top: 87.5%;
	}
	//Illustrations
	#profesionalPage_background {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_background.png');
		top: 0;
		left: 0;
		right: 0;
		bottom: 22%;
		background-attachment: fixed;
		background-repeat: repeat-x;
		background-size: auto 200%;
	}
	#professionalTopIntroTrim {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_intro_treetopPattern.png');
		top: 0;
		height: 100px;
		right: 0;
		left: 0;
		background-position: top center;
		background-repeat: repeat-x;
		background-size: contain;
	}
	#profesionalPage_rightTree_top {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_rightTree_top.png');
		top: 0%;
		right: 0;
		@include percentAspectRatio(.6, 0.648);
	}
	#profesionalPage_rightTree_telescope {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_rightTree_telescope.png');
		top: 16%;
		right: 0;
		@include percentAspectRatio(.32, 1.861);
		@media screen and (max-width: $break-small) {
			top: 21%;
		}
	}
	#profesionalPage_rightTree_platform {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_rightTree_platform.png');
		top: 39.4%;
		right: 0;
		padding-top: 247.2%;
		@include percentAspectRatio(.35, 2.4721);
		@media screen and (max-width: $break-small) {
			top: 45%;
		}
	}
	#profesionalPage_rightTree_base {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_rightTree_base.png');
		bottom: 0;
		right: 0;
		@include percentAspectRatio(.45, 1.93);
	}
	.treeSpacer {
		//top and bottom properties are being driven trough js.
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_rightTree_pattern.png');
		@include percentMaxSize(.16);
		right: 0;
		background-repeat: repeat-y;
		display: block;
		position: absolute;
		background-size: 100% auto;
		pointer-events: none;
	}
	#profesionalPage_leftTree {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_leftTree.png');
		top: 0;
		left: 0;
		@include percentAspectRatio(.55, 1.5457);
	}
	#profesionalPage_leftTree_base {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_treeStump.png');
		left: 0;
		@include percentAspectRatio(.42, 1.0266);
		bottom: 4%;
		z-index: 30;
		@media screen and (max-width: $break-small) {
			bottom: 6%;
			z-index: 0;
		}
	}
	#profesionalPage_feedingSloth {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_feedingSloth.png');
		position: absolute;
		background-position: bottom right;
		background-size: 100% auto;
		background-repeat: no-repeat;
		top: 0;
		left: -20%;
		right: 0;
		bottom: 37%;
		z-index: 10;
		
	}
	#profesionalPage_brachiosaurus {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_bracciasaurus.png');
		top: 43%;
		left: 0;
		@include percentAspectRatio(.31, 1.01);
		z-index: 10;
		@media screen and (max-width: $break-small) {
			top: 46.5%;
		}
	}
	#profesionalPage_horizonGround {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_horizonGround.png');
		top: 75%;
		left: 0;
		width: 100%;
		bottom: 22%;
		background-size: auto 100%;
		background-repeat: repeat-x;
		@media screen and (max-width: $break-small) {
			top: 76%;
			bottom: 21%;
		}
	}
	#profesionalPage_ground {
		background-color: #919191;
		top: 78%;
		left: 0;
		bottom: 0;
		width: 100%;
		@media screen and (max-width: $break-small) {
			top: 79%;
		}
	}
	#profesionalPage_raptor {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_raptor.png');
		bottom: 23%;
		left: 0;
		@include percentAspectRatio(.44, 1.3133);
		transform: translate(0, 45%);
		z-index: 30;
		@media screen and (max-width: $break-small) {
			left: -10%;
		}
	}
	#profesionalPage_bgTree_top {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_bgTree_treetop.png');
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		@include percentAspectRatio(1, 0.6156);
	}
	#profesionalPage_bgTree_branch1 {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_bgTree_branch1.png');
		top: 15%;
		left: 61%;
		@include percentAspectRatio(.4, 0.6555);
	}
	#profesionalPage_bgTree_branch2 {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_bgTree_branch2.png');
		top: 60%;
		left: 62%;
		@include percentAspectRatio(.4, 0.762);
	}
	#profesionalPage_bgTree_branch3 {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_bgTree_branch3.png');
		top: 55%;
		right: 40%;
		@include percentAspectRatio(.2, 1.1326);
	}
	#profesionalPage_bgTree_base {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_bgTree_base.png');
		padding-top: 50%;
		bottom: 22%;
		left: 64%;
		transform: translate(-50%, 30%);
		@include percentAspectRatio(.55, .88);
		@media screen and (max-width: $break-small) {
			left: 73%;
		}
	}
	#profesionalPage_bgTree_spacer {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_bgTree_pattern.png');
		@include percentMaxSize(.135);
		left: 55%;
		background-repeat: repeat-y;
		top: 5%;
		bottom: 25%;
		@media screen and (max-width: $break-small) {
			left: 58%;
		}
	}
	#professionalPage_coveringBrush {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_coveringBrush.png');
		top: 0;
		left: 50%;
		bottom: 0;
		width: 70%;
		max-width: 1300px;
		transform: translate(-50%, 0);
		background-position: center bottom;
		@media screen and (max-width: $break-small) {
			width: 95%;
		}
	}
	#professionalPage_treetopPattern {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_treetopPattern.png');
		height: 75px;
		top: 0;
		right: 0;
		left: 0;
		background-position: bottom center;
		background-repeat: repeat-x;
		background-size: auto 100%;
	}
	#profesionalPage_divider {
		background-image: url('../images/illustrations/professional/bgIllustrations_professional_treetopPattern.png');
		left: 0;
		right: 0;
		height: 100px;
		bottom: -2px;
		background-size: auto 100%;
		background-repeat: repeat-x;
		transform: scaleY(-1);
	}
}

//Project Gallery Images
#legendaryItems_image1 {
	background-image: url(../images/projectScreenshots/legendaryitems/itemAdvancement_041708_expanded.jpg);
}
#legendaryItems_image2 {
	background-image: url(../images/projectScreenshots/legendaryitems/itemAdvancement_red_042208.jpg);
}
#legendaryItems_image3 {
	background-image: url(../images/projectScreenshots/legendaryitems/itemAdvancement_041708_expanded_small.jpg);
}
#legendaryItems_image4 {
	background-image: url(../images/projectScreenshots/legendaryitems/IA_results_reforge.jpg);
}
#legendaryItems_image5 {
	background-image: url(../images/projectScreenshots/legendaryitems/itemAdvancement_deconstruct.jpg);
}
#legendaryItems_image6 {
	background-image: url(../images/projectScreenshots/legendaryitems/itemAdvancement_identify.jpg);
}
#legendaryItems_image7 {
	background-image: url(../images/projectScreenshots/legendaryitems/itemAdvancement_emptySlot_050908.jpg);
}
#legendaryItems_image8 {
	background-image: url(../images/projectScreenshots/legendaryitems/itemAdvancement_LegendTooltip.jpg);
}
#bonusPads_image1 {
	background-image: url(../images/projectScreenshots/bonusPads/prof_ic_beacon_icons.jpg);
}
#bonusPads_image2 {
	background-image: url(../images/projectScreenshots/bonusPads/bonusPad_emp.jpg);
}
#bonusPads_image3 {
	background-image: url(../images/projectScreenshots/bonusPads/bonusPad_fireball.jpg);
}
#bonusPads_image4 {
	background-image: url(../images/projectScreenshots/bonusPads/bonusPad_shield.jpg);
}
#bonusPads_image5 {
	background-image: url(../images/projectScreenshots/bonusPads/bonusPad_speedboost.jpg);
}
#bonusPads_image6 {
	background-image: url(../images/projectScreenshots/bonusPads/bonusPad_surveillancecamera.jpg);
}
#bonusPads_image7 {
	background-image: url(../images/projectScreenshots/bonusPads/bonusPad_surveillancetower.jpg);
}
#ddoCharGen_image1 {
	background-image: url(../images/projectScreenshots/ddoCharGen/prof_ddo_chargen.jpg);
}
#ddoCharGen_image2 {
	background-image: url(../images/projectScreenshots/ddoCharGen/prof_ddo_chargen_class.jpg);
}
#ddoCharGen_image3 {
	background-image: url(../images/projectScreenshots/ddoCharGen/prof_ddo_chargen_buildtemplate.jpg);
}
#ddoCharGen_image4 {
	background-image: url(../images/projectScreenshots/ddoCharGen/prof_ddo_chargen_buildtemplate.jpg);
}
#ddoCharGen_image5 {
	background-image: url(../images/projectScreenshots/ddoCharGen/prof_ddo_chargen_race.jpg);
}
#ddoCharGen_image6 {
	background-image: url(../images/projectScreenshots/ddoCharGen/prof_ddo_chargen_cosmetic.jpg);
}
#icPlayerCard_image1 {
	background-image: url(../images/projectScreenshots/icPlayerCard/ic_playercard_glbatman.jpg);
	background-position: top left !important;
}
#icPlayerCard_image2 {
	background-image: url(../images/projectScreenshots/icPlayerCard/ic_playercard_doomy.jpg);
	background-position: top left !important;
}
#icPlayerCard_image3 {
	background-image: url(../images/projectScreenshots/icPlayerCard/ic_playercard_ally_drone.jpg);
	background-position: top left !important;
}
#icPlayerCard_image4 {
	background-image: url(../images/projectScreenshots/icPlayerCard/ic_playercard_neutral_drone.jpg);
	background-position: top left !important;
}
#traitsets_image1 {
	background-image: url(../images/projectScreenshots/traitsets/traitSets_031208.jpg);
}
#traitsets_image2 {
	background-image: url(../images/projectScreenshots/traitsets/traitSets_classTraits_031208.jpg);
}
#traitsets_image3 {
	background-image: url(../images/projectScreenshots/traitsets/traitSets_legendaryTraits_061008.jpg);
}
#traitsets_image4 {
	background-image: url(../images/projectScreenshots/traitsets/traitSets_panel_MTX_button.jpg);
}
#traitsets_image5 {
	background-image: url(../images/projectScreenshots/traitsets/traitSets_raceTraits_061608.jpg);
}
#traitsets_image6 {
	background-image: url(../images/projectScreenshots/traitsets/traitset_wireframe.jpg);
}
#traitsets_image7 {
	background-image: url(../images/projectScreenshots/traitsets/traitSets_031208.jpg);
}
#housingsystem_image1 {
	background-image: url(../images/projectScreenshots/housingsystem/characterSheet_housing.jpg);
}
#housingsystem_image2 {
	background-image: url(../images/projectScreenshots/housingsystem/characterSheet_housing_permissions.jpg);
}
#housingsystem_image3 {
	background-image: url(../images/projectScreenshots/housingsystem/housing_enterNeighborhood.jpg);
}
#housingsystem_image4 {
	background-image: url(../images/projectScreenshots/housingsystem/housing_housingBroker.jpg);
}
#housingsystem_image5 {
	background-image: url(../images/projectScreenshots/housingsystem/housing_management_maintenance_overdue.jpg);
}
#status_icons_image1 {
	background-image: url(../images/projectScreenshots/status_icons/blind_icon.jpg);
	background-position: bottom center !important;
}
#status_icons_image2 {
	background-position: bottom center !important;
	background-image: url(../images/projectScreenshots/status_icons/wound_icon.jpg);
}
#status_icons_image3 {
	background-position: bottom center !important;
	background-position: bottom center;background-image: url(../images/projectScreenshots/status_icons/fear_icon.jpg);
}
#status_icons_image4 {
	background-position: bottom center !important;
	background-image: url(../images/projectScreenshots/status_icons/silence_icon.jpg);
}
#status_icons_image5 {
	background-position: bottom center !important;
	background-image: url(../images/projectScreenshots/status_icons/taunt_icon.jpg);
}
#mapIcons_image1 {
	background-image: url(../images/projectScreenshots/mapIcons/prof_ic_coastCity.jpg);
}
#mapIcons_image2 {
	background-image: url(../images/projectScreenshots/mapIcons/prof_ic_gothamDivided.jpg);
}
#mapIcons_image3 {
	background-image: url(../images/projectScreenshots/mapIcons/prof_ic_gothamHeights.jpg);
}
#ddoInventory_image1 {
	background-image: url(../images/projectScreenshots/ddoInventory/prof_ddo_inventory.jpg);
}
#ddoInventory_image2 {
	background-image: url(../images/projectScreenshots/ddoInventory/prof_ddo_inventory2.jpg);
}
#ddoLFG_image1 {
	background-image: url(../images/projectScreenshots/ddoLFG/prof_ddo_social2.jpg);
}
#ddoLFG_image2 {
	background-image: url(../images/projectScreenshots/ddoLFG/prof_ddo_social1.jpg);
}
#socialpanel_image1 {
	background-image: url(../images/projectScreenshots/socialpanel/myFellowship_041008.jpg);
}
#socialpanel_image2 {
	background-image: url(../images/projectScreenshots/socialpanel/fellowshipInvite.jpg);
}
#socialpanel_image3 {
	background-image: url(../images/projectScreenshots/socialpanel/fellowshipInvite_recieved.jpg);
}
#socialpanel_image4 {
	background-image: url(../images/projectScreenshots/socialpanel/LFFellowship_041008.jpg);
}
#cheflouienight_image1 {
	background-image: url(../images/projectScreenshots/cheflouienight/per_chefLouieNight1.jpg);
}
#cheflouienight_image2 {
	background-image: url(../images/projectScreenshots/cheflouienight/per_chefLouieNight2.jpg);
}
#cheflouienight_image3 {
	background-image: url(../images/projectScreenshots/cheflouienight/per_chefLouieNight3.jpg);
}
#gotHUD_image1 {
	background-position: bottom center !important;
	background-image: url(../images/projectScreenshots/gotHUD/prof_got_hud_city.jpg);
}
#gotHUD_image2 {
	background-image: url(../images/projectScreenshots/gotHUD/prof_got_hud_combat.jpg);
}
#gotHUD_image3 {
	background-image: url(../images/projectScreenshots/gotHUD/prof_got_hud_warRoom.jpg);
}
#gotShrine_image1 {
	background-position: bottom center !important;
	background-image: url(../images/projectScreenshots/gotShrine/prof_got_shrine1.jpg);
}
#gotShrine_image2 {
	background-position: bottom center !important;
	background-image: url(../images/projectScreenshots/gotShrine/prof_got_shrine2.jpg);
}