@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Oswald');

$break-small: 600px;
$break-med: 1000px;
$break-large: 1200px;
$break-orientation: orientation portrait;

$defaultPrimary :#74bb21;
$defaultSecondary :#ffcc00;
$defaultTertiary : #f560a6;
$defaultText: #444;

$professionalPrimary: #ff004f;
$professionalSecondary: #ff9c00;
$professionalTertiary: #65effc;
$professionalText: #444;

$personalPrimary: #2528b3;
$personalSecondary :#43dda1;
$personalTertiary :#bbff00;
$personalText: #444;

$experiencePrimary :#ac28ea;
$experienceSecondary :#fb4988 ;
$experienceTertiary :#09e1c4;
$experienceText: #444;

$contactPrimary: #ea28c4;
$contactSecondary:#ff7e00;
$contactTertiary: #70b6fd;
$contactText: #444;

$bodyFont : 'Arvo', serif !important;
$headFont : 'Oswald', sans-serif;
$logoFont : 'Arvo', serif !important;
